---
const { title = 'Donna Louise - IMA Certified Makeup Artist', description, url } = Astro.props;
---
<meta charset="UTF-8">
<title>{title}</title>
<meta name="description" content={description}>

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "HealthAndBeautyBusiness",
    "name": "Donna Louise",
    "url": "https://donnalouisemua.com/",
    "description": "IMA Certified Make-Up Artist offering bridal make-up, prom make-up, special occassions make-up, and editorial, photoshoots and commercial work. Covering the West Midlands area of the UK, including Southam, Leamington Spa, Rugby, Stratford upon Avon, Conventry, and Birmingham.",
    "telephone": "+447949 076567",
    "email": "donna@donnalouisemua.com",
    "image": [
        "https://donnalouisemua.com/photos/wedding-2-1536.jpg",
        "https://donnalouisemua.com/photos/wedding-2-1536.jpg",
        "https://donnalouisemua.com/photos/wedding-2-1536.jpg",
        "https://donnalouisemua.com/photos/CSM040721-0053-2-1536.jpg",
        "https://donnalouisemua.com/photos/IMG_4518-1536.jpg",
        "https://donnalouisemua.com/photos/IMG_4531-1536.jpg",
        "https://donnalouisemua.com/photos/IMG_7069-1536.jpg",
        "https://donnalouisemua.com/photos/12A7214-1536.jpg",
        "https://donnalouisemua.com/photos/20210918_164311-1536.jpg",
        "https://donnalouisemua.com/photos/20210726_131021-1536.jpg"
    ],
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Manders Croft",
        "addressLocality": "Southam",
        "postalCode": "CV47 0HZ",
        "addressRegion": "West Midlands",
        "addressCountry": "GB"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": 52.253115,
        "longitude": -1.393561
    },
    "sameAs":[
        "https://www.instagram.com/donnalouise.mua/"
    ],
    "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 00:00-23:59",
    "priceRange":"££-£££",
    "review": [
        {
          "@type": "Review",
          "author": {
            "@type": "Person",
            "name": "Caroline Feneley"
          },
          "reviewBody" : "I would highly recommend Donna Louise MUA for her professional lessons in understanding the best way to apply and use makeup on maturing skin. My skin was very dry and is now looking glowing and radiant. In particular Donna helped me to obtain a more up to date and modern application of makeup. The foundation match is perfect and range of lipsticks looks great on my skin tone and my blusher is now very uplifting. My makeup has never felt so good and I now feel confident in applying it.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue" : "5"
          }
        }
    ]
}
</script>

<!-- preload fonts -->
<link rel="preload" as="font" href="/fonts/LibreBaskerville-Bold.woff2" type="font/woff2" crossorigin="anonymous" >
<link rel="preload" as="font" href="/fonts/Montserrat-Regular.woff2" type="font/woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="/fonts/Montserrat-Bold.woff2" type="font/woff2" crossorigin="anonymous">

<!-- favicons -->    
<link rel="alternate icon" href="/favicon.ico">
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="apple-touch-icon" href="/favicon.svg">

<!-- manifest -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#0c0b10">
<link rel="manifest" href="/manifest.json">
    
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://donnalouisemua.com/imgs/hero.jpg" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="https://donnalouisemua.com/imgs/hero.jpg" />

<!-- scripts -->
<script src='../js/compatibility.js' hoist defer async></script>
<script src='../js/app.js' hoist defer></script>
